<!DOCTYPE html>
<html>
  <head>
    <title>Comic Agile API</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Comic Agile API</h1>
    <hr/>
    <a href="https://daily-comic-agile-api.glitch.me/json">https://daily-comic-agile-api.glitch.me/json</a>
    <pre>
{
    "title": "{{title}}",
    "image": "<a href="{{image}}" target="_blank">{{image}}</a>",
    "text": {{text}}
}
    </pre>
  </body>
</html>
